.bigger-font {
    font-weight: 900;
    font-size: 1.2em;
}

#container {
    width: 600px;
    height: 600px;
    background-color: lightgray;
    display: inline-block;
    position: relative;
}

.info-container {
    position: relative;
    top: -618px;
    left: 590px;
    width: 600px;
    height: 600px;
}

ul {
    list-style-type: circle;
}

li {
    padding-bottom: 1.4em;
}

.square {
    background-color: red;
    position: absolute;
}

.rectangle {
	width: 200px;
	height: 100px;
    background: green;
    position: absolute;
}

.circle {

	background: purple;
	/* -moz-border-radius: 50%;
	-webkit-border-radius: 50%; */
    border-radius: 50%;
    position: absolute;
}

.triangle {
	width: 0;
    height: 0;
    border-color: transparent;
    border-bottom-color: yellow;
    border-style: solid;
    position: absolute;
}